{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:node/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf"
      }
    ],
    "strict": ["error", "never"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "req|res|next|val"
      }
    ],
    "no-console": "warn",
    "eqeqeq": "warn",
    "no-process-exit": "off"
  },
  "env": {
    "node": true
  }
}
